{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "LMS365 Cloud API",
    "contact": {
      "name": "LMS365 Help Center",
      "url": "https://helpcenter.elearningforce.com"
    }
  },
  "host": "api.365.systems",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/certificates/{certificateId}/upload": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Upload certificate image for the existing certificate",
        "operationId": "Certificates_UploadCertificateByCertificateid",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "certificateId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "uploadedFile",
            "in": "formData",
            "description": "Upload File",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/courseImages/{courseCatalogId}/upload": {
      "post": {
        "tags": [
          "CourseImages"
        ],
        "summary": "Upload course image",
        "operationId": "CourseImages_UploadByCoursecatalogid",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "courseCatalogId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "uploadedFile",
            "in": "formData",
            "description": "Upload File",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/courseImages/{courseCatalogId}/uploadBanner": {
      "post": {
        "tags": [
          "CourseImages"
        ],
        "summary": "Upload course banner image",
        "operationId": "CourseImages_UploadBannerByCoursecatalogid",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "courseCatalogId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "uploadedFile",
            "in": "formData",
            "description": "Upload File",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/Enrollments({id})/SetAttendance": {
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Set attendance for enrollment",
        "operationId": "Enrollments_SetAttendanceById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              25,
              50,
              75,
              100
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/externalTrainings/importCourse": {
      "post": {
        "tags": [
          "ExternalTrainings"
        ],
        "summary": "Import course",
        "operationId": "ExternalTrainings_ImportCourse",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.Public.Models.ImportExternalCourseParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/externalTrainings/importProgress": {
      "post": {
        "tags": [
          "ExternalTrainings"
        ],
        "summary": "Import progress",
        "operationId": "ExternalTrainings_ImportProgress",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.Public.Models.ImportExternalProgressParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/externalTrainings/importCertificate": {
      "post": {
        "tags": [
          "ExternalTrainings"
        ],
        "summary": "Import certificate",
        "operationId": "ExternalTrainings_ImportCertificate",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.Public.Models.ImportExternalCertificateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/reports/courseSessions/learnerIndividualCost": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "Reports_LearnerIndividualCost",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/scorms/upload": {
      "post": {
        "tags": [
          "Scorms"
        ],
        "summary": "Upload zip package to storage",
        "operationId": "Scorms_UploadPackage",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "uploadedFile",
            "in": "formData",
            "description": "Upload File",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/scorms/sas": {
      "get": {
        "tags": [
          "Scorms"
        ],
        "operationId": "Scorms_GetSAS",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks/subscribe": {
      "post": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Subscribes (registers) a new WebHook for a given user having WebHookUri as a key value",
        "operationId": "WebHooks_Subscribe",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "webHook",
            "in": "body",
            "description": "The {Microsoft.AspNet.WebHooks.WebHook} to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks/subscribe/{eventName}": {
      "post": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Subscribes (registers) a new WebHook for a given user for a specific event having WebHookUri as a key value",
        "operationId": "WebHooks_SubscribeByEventname",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "webHook",
            "in": "body",
            "description": "The {Microsoft.AspNet.WebHooks.WebHook} to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          },
          {
            "name": "eventName",
            "in": "path",
            "description": "The event name to subscirbe to.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks/unsubscribe": {
      "post": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Unsubscribes (deletes registration) of an existing WebHook for a given user having WebHookUri as a key value",
        "operationId": "WebHooks_Unsubscribe_2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "webHook",
            "in": "body",
            "description": "The {Microsoft.AspNet.WebHooks.WebHook} to delete.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Unsubscribes (deletes registration) of an existing WebHook for a given user having WebHookUri as a key value",
        "operationId": "WebHooks_Unsubscribe_1",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "webHook",
            "in": "body",
            "description": "The {Microsoft.AspNet.WebHooks.WebHook} to delete.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks/{webHookId}": {
      "delete": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Unsubscribes (deletes registration) of an existing WebHook for a given user having WebHook Id as a key value",
        "operationId": "WebHooks_UnsubscribeByWebhookid",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "webHookId",
            "in": "path",
            "description": "The WebHook's id which is going to be removed.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks/filters": {
      "get": {
        "tags": [
          "WebHookRegistrations"
        ],
        "operationId": "WebHooks_GetFilters",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHookFilter"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks/registrations": {
      "get": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Gets all registered WebHooks for a given user.",
        "operationId": "WebHooks_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Registers a new WebHook for a given user.",
        "operationId": "WebHooks_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "webHook",
            "in": "body",
            "description": "The {Microsoft.AspNet.WebHooks.WebHook} to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Deletes all existing WebHook registrations.",
        "operationId": "WebHooks_DeleteAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks/registrations/{id}": {
      "get": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Looks up a registered WebHooks with the given {id} for a given user.",
        "operationId": "WebHooks_LookupById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Updates an existing WebHook registration.",
        "operationId": "WebHooks_PutById",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The WebHook ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webHook",
            "in": "body",
            "description": "The new {Microsoft.AspNet.WebHooks.WebHook} to use.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Deletes an existing WebHook registration.",
        "operationId": "WebHooks_DeleteById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The WebHook ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Returns the list of Apps",
        "operationId": "AppsV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.App]]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Apps({Id})": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Returns the App by Id",
        "operationId": "AppsV2_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.App"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Assignments": {
      "get": {
        "tags": [
          "Assignments"
        ],
        "summary": "Returns the list of Assignments",
        "description": "Result includes assignments from courses where current user has active enrollment",
        "operationId": "AssignmentsV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.Assignment]]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Assignments"
        ],
        "summary": "Creates new assignment",
        "operationId": "AssignmentsV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Assignment",
            "in": "body",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Assignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Assignments({Id})": {
      "get": {
        "tags": [
          "Assignments"
        ],
        "summary": "Returns the Assignment by Id",
        "operationId": "AssignmentsV2_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Assignment"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Certificates({Id})/Content()": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Returns the content (picture) of Certificate",
        "operationId": "CertificatesV2_ContentById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Certificates": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Returns the list of Certificates owned by current user",
        "operationId": "CertificatesV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.Certificate]]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Creates a Certificate.",
        "operationId": "CertificatesV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "certificate",
            "in": "body",
            "description": "Certificate",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Certificate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Certificates({Id})": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Returns Certificate by Id",
        "operationId": "CertificatesV2_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Certificate"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Certificates/BySubordinates(managerId={managerId})": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Returns the list of Certificates for subordinates of user",
        "operationId": "CertificatesV2_BySubordinates",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "managerId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.Certificate]]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Certificates/AllByUser()": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Call operation  AllByUser",
        "operationId": "CertificatesV2_AllByUser",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.Certificate]]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Certificates({Id})/Reissue": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Reissue Certificate",
        "operationId": "CertificatesV2_ReissueById",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Certificate Template ID",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "templateId": {
                  "format": "guid",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CourseCatalogs({Id})/IsUrlAvailable(courseUrl='{courseUrl}')": {
      "get": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Check if course url is available",
        "operationId": "CourseCatalogsV2_IsUrlAvailableByIdAndCourseurl",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseUrl",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CertificateTemplates": {
      "get": {
        "tags": [
          "CertificateTemplates"
        ],
        "summary": "Returns the list of Certificate Templates",
        "operationId": "CertificateTemplatesV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.CertificateTemplate]]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CertificateTemplates"
        ],
        "summary": "Creates a Certificate Template.",
        "operationId": "CertificateTemplatesV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "certificateTemplate",
            "in": "body",
            "description": "Certificate Template",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CertificateTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CertificateTemplates({Id})": {
      "get": {
        "tags": [
          "CertificateTemplates"
        ],
        "summary": "Returns the Certificate Template by Id",
        "operationId": "CertificateTemplatesV2_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CertificateTemplate"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "CertificateTemplates"
        ],
        "summary": "Update a Certificate Template.",
        "operationId": "CertificateTemplatesV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateTemplate",
            "in": "body",
            "description": "Certificate Template",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CertificateTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "CertificateTemplates"
        ],
        "summary": "Delete a Certificate Template.",
        "operationId": "CertificateTemplatesV2_DeleteById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Competencies": {
      "get": {
        "tags": [
          "Competencies"
        ],
        "summary": "Returns all competencies",
        "operationId": "CompetenciesV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.Competency]]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Competencies"
        ],
        "summary": "Creates a competency",
        "operationId": "CompetenciesV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "competency",
            "in": "body",
            "description": "competency",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Competency"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Competencies({Id})": {
      "get": {
        "tags": [
          "Competencies"
        ],
        "summary": "Returns competency by id",
        "operationId": "CompetenciesV2_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Competency"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Competencies"
        ],
        "summary": "Updates a competency",
        "operationId": "CompetenciesV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "competency",
            "in": "body",
            "description": "competency",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Competency"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Competencies"
        ],
        "summary": "Deletes competency by id",
        "operationId": "CompetenciesV2_DeleteById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Competencies"
        ],
        "summary": "Update entity in EntitySet Competencies",
        "operationId": "CompetenciesV2_PatchById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Competency",
            "in": "body",
            "description": "The entity to patch",
            "required": true,
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CompetencyCategories": {
      "get": {
        "tags": [
          "CompetencyCategories"
        ],
        "summary": "Returns all competency categories",
        "operationId": "CompetencyCategoriesV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.CompetencyCategory]]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CompetencyCategories"
        ],
        "summary": "Creates a competency category",
        "operationId": "CompetencyCategoriesV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CompetencyCategory",
            "in": "body",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyCategory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CompetencyCategories({Id})": {
      "get": {
        "tags": [
          "CompetencyCategories"
        ],
        "summary": "Returns competency category by Id",
        "operationId": "CompetencyCategoriesV2_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyCategory"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "CompetencyCategories"
        ],
        "summary": "Updates a category",
        "operationId": "CompetencyCategoriesV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "CompetencyCategory",
            "in": "body",
            "description": "The entity to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyCategory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "CompetencyCategories"
        ],
        "summary": "Deletes category by id",
        "operationId": "CompetencyCategoriesV2_DeleteById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CompetencyScaleSets": {
      "get": {
        "tags": [
          "CompetencyScaleSets"
        ],
        "summary": "Returns all competency scale sets",
        "operationId": "CompetencyScaleSetsV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.CompetencyScaleSet]]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CompetencyScaleSets"
        ],
        "summary": "Creates a scale set",
        "operationId": "CompetencyScaleSetsV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CompetencyScaleSet",
            "in": "body",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyScaleSet"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CompetencyScaleSets({Id})": {
      "get": {
        "tags": [
          "CompetencyScaleSets"
        ],
        "summary": "Returns competency scale set by id",
        "operationId": "CompetencyScaleSetsV2_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyScaleSet"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "CompetencyScaleSets"
        ],
        "summary": "Updates a scale set",
        "operationId": "CompetencyScaleSetsV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "CompetencyScaleSet",
            "in": "body",
            "description": "The entity to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyScaleSet"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "CompetencyScaleSets"
        ],
        "summary": "Deletes scale set by id",
        "operationId": "CompetencyScaleSetsV2_DeleteById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CompetencyTags": {
      "get": {
        "tags": [
          "CompetencyTags"
        ],
        "summary": "Returns all tags",
        "operationId": "CompetencyTagsV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.CompetencyTag]]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CompetencyTags"
        ],
        "summary": "Creates a tag",
        "operationId": "CompetencyTagsV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CompetencyTag",
            "in": "body",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyTag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CompetencyTags({Id})": {
      "get": {
        "tags": [
          "CompetencyTags"
        ],
        "summary": "Returns tag by id",
        "operationId": "CompetencyTagsV2_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyTag"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "CompetencyTags"
        ],
        "summary": "Updates a tag",
        "operationId": "CompetencyTagsV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "CompetencyTag",
            "in": "body",
            "description": "The entity to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyTag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "CompetencyTags"
        ],
        "summary": "Deletes tag by id",
        "operationId": "CompetencyTagsV2_DeleteById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CourseCatalogs": {
      "get": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Returns the list of Course Catalogs",
        "operationId": "CourseCatalogsV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.CourseCatalog]]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Creates new Course Catalog",
        "operationId": "CourseCatalogsV2_Post",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CourseCatalog",
            "in": "body",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CourseCatalogCreationParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CourseCatalogs({Id})": {
      "get": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Returns the Course Catalog by Id",
        "operationId": "CourseCatalogsV2_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CourseCatalog"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Updates existing Course Catalog",
        "operationId": "CourseCatalogsV2_PutById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "CourseCatalog",
            "in": "body",
            "description": "The entity to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CourseCatalogOwnersParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Delete entity in EntitySet CourseCatalogs",
        "operationId": "CourseCatalogsV2_DeleteById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Updates individual fields of existing Course Catalog",
        "operationId": "CourseCatalogsV2_PatchById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "CourseCatalog",
            "in": "body",
            "description": "The entity to patch",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CourseCatalogUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CourseCatalogs({Id})/UploadImage": {
      "post": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Call operation  UploadImage",
        "operationId": "CourseCatalogsV2_UploadImageById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "UploadImage action parameters",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "contentUrl": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CourseCatalogs({Id})/UpdateUrl": {
      "post": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Updates Course Catalog url if it was renamed in SharePoint",
        "operationId": "CourseCatalogsV2_UpdateUrlById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/Courses({Id})/Enroll": {
      "post": {
        "tags": [
          "Courses"
        ],
        "summary": "Enrolls user in a course",
        "description": "UserLoginName parameter is not required, if not specified current user login name will be used.\r\n            If CourseSessionId parameter is not specified for single-session course user should visit the course home page to select a session.\r\n            Teachers can enroll any user in a course, others can enroll only themselves.",
        "operationId": "CoursesV2_EnrollById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "userLoginName": {
                  "type": "string"
                },
                "courseSessionId": {
                  "format": "guid",
                  "type": "string"
                },
                "ignoreMaxAttendees": {
                  "type": "boolean"
                },
                "ignoreEnrollmentFlow": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Enrollment"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CourseCatalogs({id})/Users": {
      "post": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Add user to the Course Catalog",
        "operationId": "CourseCatalogsV2_AddUserById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CourseCatalogs({id})/Users('{userLogin}')": {
      "delete": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Remove user from course catalog",
        "operationId": "CourseCatalogsV2_DeleteUserByIdAndUserlogin",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Course catalog id",
            "required": true,
            "type": "string"
          },
          {
            "name": "userLogin",
            "in": "path",
            "description": "User login",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CourseCategories": {
      "get": {
        "tags": [
          "CourseCategories"
        ],
        "summary": "Returns All Categories",
        "operationId": "CourseCategoriesV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.Category]]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CourseCategories"
        ],
        "summary": "Creates a Category",
        "operationId": "CourseCategoriesV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "body",
            "description": "Category",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CourseCategories({Id})": {
      "get": {
        "tags": [
          "CourseCategories"
        ],
        "summary": "Returns Category by Id",
        "operationId": "CourseCategoriesV2_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Category"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "CourseCategories"
        ],
        "summary": "Updates a Category",
        "operationId": "CourseCategoriesV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "category",
            "in": "body",
            "description": "Category",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "CourseCategories"
        ],
        "summary": "Deletes Category by Id",
        "operationId": "CourseCategoriesV2_DeleteById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CourseCompletionSets": {
      "get": {
        "tags": [
          "CourseCompletionSets"
        ],
        "summary": "Returns all course completion sets",
        "operationId": "CourseCompletionSetsV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.OData.V2.Models.CourseCompletionSet]]"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CourseCompletionSets"
        ],
        "summary": "Creates new course completion set",
        "operationId": "CourseCompletionSetsV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CourseCompletionSet",
            "in": "body",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.OData.V2.Models.CourseCompletionSet"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/odata/v2/CourseCompletionSets({Id})": {
      "get": {
        "tags": [
          "CourseCompletionSets"
        ],
        "summary": "Returns course completion set by id",
        "operationId": "CourseCompletionSetsV2_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.OData.V2.Models.CourseCompletionSet"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "CourseCompletionSets"
        ],
        "summary": "Updates course completion set",
        "operationId": "CourseCompletionSetsV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "CourseCompletionSet",
            "in": "body",
[...]
